* {
    box-sizing: border-box;
  }
  
  body {
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .game-container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0px 15px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 450px;
    width: 100%;
  }
  
  h1 {
    color: green;
    margin-bottom: 10px;
  }
  .container_h1{
    background-color: darkgray;
    padding:20px;
  }
  
  .word-display {
    font-size: 2rem;
    letter-spacing: 10px;
    margin: 20px 0;
  }
  
  input[type="text"] {
    padding: 8px;
    width: 50px;
    font-size: 1rem;
    margin-right: 10px;
    text-align: center;
  }
  
  button {
    padding: 8px 15px;
    font-size: 1rem;
    background-color: #2f3640;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #353b48;
  }
  